body{
    font-family: inter, sanserif;
    padding: 100px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:30px;
}
.main-content{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 75%;
}
.hero-image img{
    width: 100%;
}
.hero-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-text h1{
    font-size: 60px;
    padding: 0%;
    margin: 0%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.hero-text2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.7;
}
.read-more button{
    background-color: #f96241;
    color: black;
    padding: 12px 20px;
    font-size: 9px;
    font-weight: bold;
    width: fit-content;
    display: flex;
    justify-content: center;
    border: 0px;
    letter-spacing: 4px;
}
.subhero{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 30px;
    width: 25%;
}
h3{
    font-size: 20px;
    margin: 0%;
    color: darkorange;
}
.hydrogen, .downside{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sidebar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}
.side{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.sub{
    display: flex;
    flex-direction: column;
}
.side img{
    width: 100px;
}
.sub span{
    font-size: 30px;
    color: darkorange;
    font-weight: bold;
}

.attribution{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 12px;
}